<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Оформление заявления</title>
</head>
<body>
  <h2>Заполните следующие данные для заявления</h2>
  <form method="POST">
    {% csrf_token %}
    <table>
      {{ form }}
      <tr>
        <td>&nbsp;</td>
        <td><input type="submit" value="Оформить"></td>
      </tr>
    </table>
  </form>
  <table>
    <tr>
      <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
      <td>
        <a href="/dayoff">
          <button>Назад</button>
        </a>
      </td>
    </tr>
  </table>
</body>
</html>
