{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>Начисления</title>
</head>
<body>
    {% include "header.html" %}
    <h2>История начислений</h2>

    <table style="border-collapse: collapse; text-align: center;">
        <thead>
            <tr>
                <th style="border: 2px solid black;">Дата</th>
                <th style="border: 2px solid black;">Размер выплаты, руб</th>
            </tr>
        </thead>
        <tbody>
            {% for payment in payments %}
            <tr>
                <td style="border: 2px solid black;
                text-align: center;
                padding: 5px;">{{ payment.date|date:"d.m.Y" }}</td>
                <td style="border: 2px solid black;
                text-align: center;
                padding: 5px;">{{ payment.amount|floatformat:"2g"}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>